@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


table, th, td {
  border: 1px solid black;
}

.months {
  width: 3em;
}

a{
  text-decoration: none;
  text-decoration-color: aliceblue;
}

.test {
  background-image: url("https://image.tmdb.org/t/p/w500/avedvodAZUcwqevBfm8p4G2NziQ.jpg");
  background-repeat: no-repeat;
  opacity: 0.6;

}

.App {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

